{% extends "webapp/layout.html" %}


{% block content %}
{% include "webapp/header.html"%}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>Users awaiting approval:</h2>

      <div class="table-responsive">
        <table id="users-table" class="table table-bordred table-striped">

          <thead>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Country</th>
            <th>Institution</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Description</th>
            <th>Activate</th>
            <th>Delete</th>
          </thead>

          <tbody>

            {% for user in inactive_users %}
            <tr>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.country}}</td>
              <td>{{user.institution}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.description}}</td>
              <td>
                <p data-placement="top" title="Activate"><button class="btn btn-primary btn-xs" value="{{user.email}}"
                    data-title="Activate" data-toggle="modal" data-target="#activate"><span class="fa fa-check"></span></button></p>
              </td>
              <td>
                <p data-placement="top" title="Delete"><button class="btn btn-danger btn-xs" value="{{user.email}}"
                    data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></p>
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>

        <div class="row">
          <div class="col-md-12">
            <h2>Already activated users:</h2>

            <div class="table-responsive">
              <table id="users-table" class="table table-bordred table-striped">

                <thead>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Country</th>
                  <th>Institution</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Description</th>
                </thead>

                <tbody>

                  {% for user in active_users %}
                  <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.country}}</td>
                    <td>{{user.institution}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.description}}</td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>

              <div class="modal fade activate-users-modal" id="activate" tabindex="-1" role="dialog" aria-labelledby="edit"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove"
                          aria-hidden="true"></span></button>
                      <h3 class="modal-title" id="Heading">Activate User</h3>
                    </div>
                    <div class="modal-body">
                      <div class="alert alert-danger"><span class="fa fa-warning"></span> Are you sure you want to
                        activate this user?</div>
                      <div class="alert alert-danger" id="activate-fail-message"></div>
                    </div>
                    <div class="modal-footer ">
                      <button type="button" class="btn btn-success btn-activate"><span class="fa fa-check"></span> Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> No</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>



              <div class="modal fade activate-users-modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove"
                          aria-hidden="true"></span></button>
                      <h3 class="modal-title" id="Heading">Delete User</h3>
                    </div>
                    <div class="modal-body">
                      <div class="alert alert-danger"><span class="fa fa-warning"></span> Are you sure you want to
                        delete this user?</div>
                      <div><b>Reason:</b></div>
                      <div class="form-group">
                        <textarea rows="3" class="form-control" id="delete-reason">The data you provided was not enough.</textarea>
                        <div class="alert alert-danger" id="delete-fail-message"></div>
                      </div>
                      <div class="modal-footer ">
                        <button type="button" class="btn btn-success btn-delete"><span class="fa fa-check"></span> Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> No</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>

                {% endblock %}