{% extends "api/layout.html"%}

{% load staticfiles %}

{% block content %}

	<p id="content">
		<p>
			<h3>1. Start the API</h3>
			The API can bes started in 2 ways:
			<br/>
			- as a script (for test purposes)
			<br/>
			- as a service
			<h4>1.1 Start the API as a script</h4>
			<p>
				The RESTful API is started by using the following command:
				<br/>
				python3.5 poseidonctl.py postgresql+psycopg2://dbms:p0s3%21d0n_dbms@195.251.36.143:5432/restportal -p 5000 -s
				data,metadata,public,logs -a /poseidon/api/v0.1
				<br/>
				where the command arguments are:
				<table border="1">
					<thead>
						<tr>
							<th>dash parameter</th>
							<th>description</th>
							<th>example</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td>the database URL</td>
							<td>postgresql+psycopg2://dbms:p0s3%21d0n_dbms@195.251.36.143:5432/restportal</td>
						</tr>
						<tr>
							<td>-p ####</td>
							<td>the port where the API is served</td>
							<td>-p 5000</td>
						</tr>
						<tr>
							<td>-s ...</td>
							<td>the schemes to be inspected/included in the api (comma seperated) **</td>
							<td>-s data,metadata,public,logs</td>
						</tr>
						<tr>
							<td>-a ...</td>
							<td>the URL prefix (for example to version of the API)</td>
							<td>-a /poseidon/api/v0.1</td>
						</tr>
					</tbody>
				</table>
				** Tables can be excluded by changing the 'exclude_tables' list parameter in the config.py file
			</p>
			<h4>1.2 Start the API as a service</h4>
			<p>
				The RESTful API is started as a service by using the following command:
				<br/>
				python3.5 poseidonctl_daemon.py start
				<br/>
				A process file, poseidon_api_daemon.pid, is started in the /tmp folder.
			</p>
			<p>
				This will:
				<br/>
				- start the API
				<br/>
				- create the log files (in the 'log_location' parameter set in config.py).
				<br/>
				For every day, in this folder, a new directory is created!
				<br/>
				e.g.: /var/log/poseidon_api_logs/YYYY-MM-DD
				<br/>
				There are 3 log files;
				<table border="1">
					<thead>
						<tr>
							<th>log file name</th>
							<th>description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>api.log</td>
							<td>here application messages are written, for debugging</td>
						</tr>
						<tr>
							<td>api_error_log.log</td>
							<td>here application errors/exceptions are written</td>
						</tr>
						<tr>
							<td>api_request.log</td>
							<td>here all the requests to the API will be logged</td>
						</tr>
					</tbody>
				</table>
				- inspect/reflect the database schemes provided in the -s argument.
				<br/>
				- For all Tables and materialized views (not in the 'exclude_tables' list parameter in the config.py), RESTful
				['GET','POST','PUT','PATCH','DELETE','HEAD','OPTIONS'] endpoints are created.
				<br/>
				- Views can be added by describing their ORM binding in the models.py
				<br/>
				- Stored Procedures can be added by adding a description) in the functions.py
				<br/>
				e.g.: http://10.6.1.16/poseidon/api/v0.3/refresh_materialized_view?matview=test_view_mv
			</p>
		</p>

		<p>
			<h3>2. Get data from a collection</h3>
			- Collections are seen as directory (listings), therefore the URL ends in a "/" (forward slash)
			<br/>
			e.g. See all the platforms: http://10.6.1.16/poseidon/api/v0.3/platforms/
		</p>

		<p>
			<h3>3. Exporting a collection</h3>
			- Collections can be exported by adding /export to a collection. For the time being, the following export formats
			are available:
			<div>
				<table border="1">
					<thead>
						<tr>
							<th>the export format</th>
							<th>example</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>CSV (default export format)</td>
							<td>http://10.6.1.16/poseidon/api/v0.3/parameters?export or
								http://10.6.1.16/poseidon/api/v0.3/parameters?export=csv
							</td>
						</tr>
						<tr>
							<td>JSON</td>
							<td>http://10.6.1.16/poseidon/api/v0.3/parameters?export=json</td>
						</tr>
						<tr>
							<td>XML</td>
							<td>http://10.6.1.16/poseidon/api/v0.3/parameters?export=xml</td>
						</tr>
					</tbody>
				</table>
			</div>
		</p>

		<p>
			<h3>4. Get data for a resource</h3>
			- Resources are accessible by adding there unique id to the collection
			<br/>
			e.g. See platforms with id 1: http://10.6.1.16:8000/platforms/1
		</p>

		<p>
			<h3>5. Filtering of data</h3>
			<p>
				<h4>5.1 Row filtering</h4>
				- If the unique id is unknown, the resource(s) can be accessed by (row) filtering. By adding /meta to a collection,
				a list of columns that can be used to filter is shown.
				e.g. http://10.6.1.16/poseidon/api/v0.3/platforms/meta
				<br/>
				- The following filters are available:
				<div>
					<table border="1">
						<thead>
							<tr>
								<th>filter</th>
								<th>description</th>
								<th>example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>eq.</td>
								<td>equals</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?platform_code=eq.ATHOS</td>
							</tr>
							<tr>
								<td>gte.</td>
								<td>greater than or equal</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=gte.2970</td>
							</tr>
							<tr>
								<td>gt.</td>
								<td>greather than</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=gt.2970</td>
							</tr>
							<tr>
								<td>lte.</td>
								<td>less than or equal</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=lte.15&sort=id%20desc</td>
							</tr>
							<tr>
								<td>lt.</td>
								<td>less than</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=lt.15&sort=id%20desc</td>
							</tr>
							<tr>
								<td>neq.</td>
								<td>not equal</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=neq.3&sort=id%20asc&limit=5</td>
							</tr>
							<tr>
								<td>like.</td>
								<td>LIKE operator (use * instead of the SQL %)</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?author=like.*Chalkiopoulos*</td>
							</tr>
							<tr>
								<td>notlike.</td>
								<td>NOT LIKE operator (use * instead of the SQL %)</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?author=notlike.*Korres*</td>
							</tr>
							<tr>
								<td>ilike.</td>
								<td>ILIKE operator (use * instead of the SQL %)</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?author=ilike.*Chalkiopoulos*</td>
							</tr>
							<tr>
								<td>notilike.</td>
								<td>NOT ILIKE operator (use * instead of the SQL %)</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?author=notilike.*Chalkiopoulos*</td>
							</tr>
							<tr>
								<td>in.</td>
								<td>one of a list of values</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=in.15,16,17</td>
							</tr>
							<tr>
								<td>notin.</td>
								<td>not one of a list of values</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?id=notin.15,16,17</td>
							</tr>
							<tr>
								<td>is.</td>
								<td>checking for exact equality (null,true,false)</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?island=is.true</td>
							</tr>
							<tr>
								<td>isnot.</td>
								<td>checking for exact inequality (null,true,false)</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?island=isnot.true</td>
							</tr>
							<tr>
								<td>between.</td>
								<td>checking if a value is between the (included) endpoint values</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/platforms/?dte=between.2016-01-01 and 2016-12-31</td>
							</tr>
							<tr>
								<td>@@.</td>
								<td>full-text search using to_ts_query</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/institutions/?name_native=@@.marine</td>
							</tr>
							<tr>
								<td>@>.</td>
								<td>contains (e.g. ?tags=@>.{example,new})</td>
								<td>http://10.6.1.16/poseidon/api/v0.3/institutions/?name_native=@>.Ocean</td>
							</tr>
							<tr>
								<td>.<@</td>
								<td>contained (e.g. values=<@.{1,2,3})</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>.not</td>
								<td>negates another operator</td>
								<td>&nbsp;</td>
							</tr>
						<tbody>
					</table>
				</div>
				e.g. See the platform(s) with the platform_code "ATHOS":
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/platforms/?platform_code=eq.ATHOS
				<br/>
				e.g. See the platforms with pi_name "Leonidas Perivoliotis":
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/platforms/?pi_name=eq.Leonidas%20Perivoliotis
				<br/>
				e.g. See the platforms with embedded all the institution information, sorted in DESC order with a last transmission date between 01/01/2017 and 28/02/2017
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/platforms/?dte=between.2017-01-01%20and%202017-02-28
				<br/>	
	
	
			</p>
			<p>
				<h4>5.2 Row limiting</h4>
				By adding &limit=# to an entity, the result set is limited and returns only the requested number of resources.
				<br/>
				e.g. Get the first 3 platforms with pi_name "Leonidas Perivoliotis":
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/platforms/?pi_name=eq.Leonidas%20Perivoliotis&limit=3
			</p>
			<p>
				<h4>5.3 Column Filtering</h4>
				By using the "select" keyword, the fields / columns that construct the resources can be defined.
				<br/>
				e.g. Get only the id, longitude, latitude and pi_name of the platforms:
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/platforms/?select=id,lon,lat,pi_name
				<br/>
				<br/>
				In this way, parent resources (relations) can be embedded inside the child resource.
				Just put the fields / columns from the parent resource between curly brackets:
				<br/>
				e.g. Get the id, longitude, latitude and pi_name of the platforms and embed the id, native name and the country of the (parent) institutions:
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/platforms/?select=id,lon,lat,pi_name,institutions{id,name_native,country}
				<br/>
				In case of an extensive list of fields / columns, the wildcard * can used:
				<br/>
				e.g. http://10.6.1.16/poseidon/api/v0.3/platforms/?select=id,lon,lat,pi_name,institutions{*}
				<br/>
				e.g. Get all the information of the platforms and embed all the information of the institution it belongs to:
				<br/>
				e.g. http://10.6.1.16/poseidon/api/v0.3/platforms/?select=institutions{*}
				<br/>
				The embedding of parent relations is multiple levels deep:
				<br/>
				e.g. Get the measurements for TS_MO_ATHOS, embed the platform information in it and embed in the platform, all the institutions information
				<br/>
				http://10.6.1.16/poseidon/api/v0.3/ts_mo_athos/?select=*,platforms{*,institutions{*}}&limit=3
			</p>
		</p>
		<p>
			<h3>6. Ordering</h3>
			By using the "sort" keyword, the resources resultset can be sorted.
			<br/>
			Ascending is the default sort order. So if no parameter is provided, the resources will be sorted in an ascending order.
			To sort  in an descending order, add the parameter desc:
			<br/>
			e.g. http://10.6.1.16/poseidon/api/v0.3/platforms/?select=id,lon,lat,pi_name,institutions{*}&sort=id desc
		</p>
	</div>
    {% endblock %}
