{% extends "webapp/layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="home-body">
    <div class="home-container">
        <!--<button class="btn btn-primary btn-block" id="login-btn">Sign In</button>
        <button class="btn btn-primary btn-block" id="signup-btn">Sign Up</button>-->
        <div class="row form-group">
            <img class="mb-4" src="{% static 'webapp/images/logo-hcmr-big.png' %}" alt="" width="72" height="72">
        </div>
        <div class="row form-group">
            <button type="button" class="btn btn-primary col-md-12" id="login-btn">Sign In</button>
        </div>
        <div class="row form-group">
            <a href="http://localhost:8000/api/register/" class="btn btn-primary  col-md-12">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}