{% extends "webapp/layout.html" %}


{% block content %}
{% include "webapp/header.html"%}

<div class="introduction-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Introduction</h1>
    <p class="lead">Welcome to Poseidon Data Base. This web interface offers access to POSEIDON network archived data collected since the initial system's operation. The user has also access to multiple metadata information regarding the buoys sensors, location, operational period and other combined information.</p>
</div>

<main role="main">

    <div class="container">
        <!-- Example row of columns -->
        
        <div class="row fix">
            <div class="col-md-4" id="poseidon-db-col">
                <h2>Poseidon_db</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="http://localhost:8000/webapp/poseidon_db/" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4" id="api-col">
                <h2>API</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="./platforms" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4" id="qc-tool-col">
                <h2>Online_data</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="http://localhost:8000/webapp/online_data/" role="button">View details &raquo;</a></p>
            </div>
        </div>
    
        <hr>

    </div> 
</main>


{% endblock %}