{% extends "webapp/layout.html" %}


{% block content %}
{% include "webapp/header.html"%}
{% include "webapp/header2.html"%}
<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <!--<center>
                    <h1>Poseidon DataBase Download</h1>
                </center>-->
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pushpin"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3>TimeFrame</h3>
                            <p>Selects Dates</p>
                            <div class="row">
                                <div class='col-md-5'>
                                    <label>From:</label>
                                    <div class="form-group">
                                        <div class='input-group date' id='date-from'>
                                            <input type='text' class="form-control" id='date-from-input' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-5'>
                                    <label>To:</label>
                                    <div class="form-group">
                                        <div class='input-group date' id='date-to'>
                                            <input type='text' class="form-control" id='date-to-input' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step" value="date">Next</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3>Platforms</h3>
                            <p>Select Platform(s):</p>
                            <div class="form-group">
                                <select id="platforms" name="platforms[]" multiple class="form-control">
                                </select>
                            </div>
                            <div class="alert alert-danger" id="select-platforms-fail-message"></div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step"
                                        value="date">Previous</button></li>
                                <li><button type="button" class="btn btn-primary next-step" value="params">Next</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Parameters</h3>
                            <p>Select Parameter(s):</p>
                            <div class="form-group">
                                <div class="container" id='param-selects'>

                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step"
                                        value="params">Previous</button></li>
                                <li><button type="button" class="btn btn-primary next-step"
                                        value="complete">Next</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Checkout</h3>
                            <p>You have successfully completed every step.</p>
                            <div class="row">
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" id="email"
                                            value={{ request.session.email }}>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-5'>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#summary"><span class="fa fa-file"></span> Summary</button>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step"
                                        value="complete">Previous</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step"
                                        value="submit">Submit</button></li>
                            </ul>
                            <div id=inform-user>Mpravo</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div id="overlay">
        <div id="overlay-text"><span>
                <i class="fa fa-check-circle-o fa-4x"></i>
            </span><br>Your request has been successfully submitted. An email with
            data files will be sent to you shortly.</div>
    </div>
</div>


<div class="modal fade" id="summary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove"
                        aria-hidden="true"></span></button>
                <h3 class="modal-title">Summary</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" id="sum-date-from"> Date from:</div>
                    <div class="col-md-6" id="sum-date-to">Date to:</div>
                </div>
                <br>
                <div class="row">
                    <table class="table" id="sum-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Platform</th>
                                <th scope="col">Parameters</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-remove"></span>
                    Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}