{% extends "webapp/layout.html" %}

{% block content %}
{% include "webapp/header.html"%}
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>User Profile</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <div align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                id="profile-image1" class="img-circle img-responsive"></div>
                        <br>
                        <!-- /input-group -->
                    </div>
                    <div class="col-sm-8" align="center">
                        <h4 style="color:#4284B0;">{{data.username}}</h4></span>
                        <span>
                            <p>{{data.permission}}</p>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">

                    <div class="col-sm-5 col-xs-6 tital ">First Name:</div>
                    <div class="col-sm-7 col-xs-6 ">{{data.first_name}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
                    <div class="col-sm-7">{{data.last_name}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
                    <div class="col-sm-7">{% if data.bdate is None %} --/--/---- {% else %} {{data.bdate}} {% endif %}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Gender:</div>
                    <div class="col-sm-7">{{data.gender}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Country:</div>
                    <div class="col-sm-7">{{data.country}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Institution:</div>
                    <div class="col-sm-7">{{data.institution}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Phone:</div>
                    <div class="col-sm-7">{{data.phone}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Email address:</div>
                    <div class="col-sm-7" id="profile_email">{{data.email}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Description:</div>
                    <div class="col-sm-7">{{data.description}}</div>
                </div>
            </div>
            <div class="profile-userbuttons">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-profile"><span
                        class="fa fa-pencil"></span> Update Profile</button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#change-password"><span
                        class="fa fa-unlock-alt"></span> Change Password</button>
            </div>
            <br>
            <div class="alert alert-success" id="profile-success-message"></div>
            <div class="alert alert-danger" id="profile-fail-message"></div>
        </div>
    </div>
    <!--row-->
</div>
<!--container-->

<div class="modal fade" id="edit-profile" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove"
                        aria-hidden="true"></span></button>
                <h3 class="modal-title" id="Heading">Edit Profile</h3>
            </div>
            <div class="modal-body">
                <form class="form-profile-edit" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editUserName" class="col-4 col-form-label">Username:</label>
                        <div class="col-8">
                            <input id="editUserName" name="username" value="{{data.username}}" class="form-control here"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editFirstName" class="col-4 col-form-label">First Name:</label>
                        <div class="col-8">
                            <input id="editFirstName" name="firstname" value="{{data.first_name}}" class="form-control here"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editLastName" class="col-4 col-form-label">Last Name:</label>
                        <div class="col-8">
                            <input id="editLastName" name="lastname" value="{{data.last_name}}" class="form-control here"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editDBirthday" class="col-4 col-form-label">Birthday:</label>
                        <div class="col-8">
                            <input id="editDBirthday" name="bday" value={{data.bdate}} class="form-control here" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editGender" class="col-4 col-form-label">Gender:</label>
                        <div class="col-8">
                            <select id="editGender" name="select" class="form-control">
                                <option value="M" {% if data.gender == "Male" %} selected="selected" {% endif %}>Male</option>
                                <option value="F" {% if data.gender == "Female" %} selected="selected" {% endif %}>Female</option>
                                <option value="O" {% if data.gender == "Other" %} selected="selected" {% endif %}>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editCountry" class="col-4 col-form-label">Country:</label>
                        <div class="col-8">
                            <input id="editCountry" name="country" value="{{data.country}}" class="form-control here"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editInstitution" class="col-4 col-form-label">Institution:</label>
                        <div class="col-8">
                            <input id="editInstitution" name="institution" value="{{data.institution}}" class="form-control here"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPhone" class="col-4 col-form-label">Phone:</label>
                        <div class="col-8">
                            <input id="editPhone" name="phone" value="{{data.phone}}" class="form-control here" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editDescription" class="col-4 col-form-label">Description</label>
                        <div class="col-8">
                            <textarea id="editDescription" name="description" cols="40" rows="4" class="form-control">{{data.description}}</textarea>
                        </div>
                    </div>
            </div>
            <!--modal-body-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-update-profile"><span class="fa fa-floppy-o"></span>
                    Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-remove"></span>
                    Cancel</button>
            </div>
            </form>
        </div>
        <!--modal-content-->
    </div>
    <!--modal-dialog-->
</div>
<!--modal-->

<div class="modal fade" id="change-password" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove"
                        aria-hidden="true"></span></button>
                <h3 class="modal-title">Change account password</h3>
            </div>
            <div class="modal-body">
                <form class="form-change-password" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="old-password" class="col-form-label">Old password:</label>
                        <input type="password" class="form-control" id="old-password">
                    </div>
                    <div class="alert alert-danger" id="change-psw-fail-message1"></div>
                    <div class="form-group">
                        <label for="new-password" class="col-form-label">New password:</label>
                        <input type="password" class="form-control" id="new-password">
                    </div>
                    <div class="form-group">
                        <label for="confirm-new-password" class="col-form-label">Confirm new password:</label>
                        <input type="password" class="form-control" id="confirm-new-password">
                    </div>
                    <div class="alert alert-danger" id="change-psw-fail-message2"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-change-password"><span class="fa fa-floppy-o"></span>
                    Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-remove"></span>
                    Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}